# Python bytecode
__pycache__/
*.py[cod]

# Packages
*.egg-info/
dist/
build/

# Jupyter notebooks
.ipynb_checkpoints

# Virtual environments
.env
.venv
env/
venv/

# runtime files
runs/
models/
results/
data/

# Old files and trash
old/

# Images
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg